<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script src="https://unpkg.com/htmx.org@2.0.3" nonce="{{nonce}}"></script>
  <script src="https://cdn.tailwindcss.com" nonce="{{nonce}}"></script>
</head>
<body class="bg-gray-50 text-gray-900 min-h-screen flex flex-col">
  {{> header}}

  <main class="flex-1 container mx-auto px-4 py-8">
    {{> flash-messages}}
    {{{body}}}
  </main>

  {{> footer}}
</body>
</html>
